DATABASE_URL=postgresql://postgres:test1234@localhost:5432/pokemon
JWT_SECRET=
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d
PORT=3041
NODE_ENV=development
CORS_ORIGINS=http://localhost:3040
